<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="xMate_robot">

  <!-- ?????launch.py ?? robot_type? -->
  <xacro:arg name="robot_type" default="CR7"/>  <!-- e.g.: CR7, ..., AR5L, AR5R, AR5R08, AR5L08, AR3R, AR3L, SR4, ... -->
  <xacro:arg name="robot_ip" default="192.168.21.10"/>
  <xacro:arg name="local_ip" default="192.168.21.131"/>
  <xacro:arg name="use_fake_hardware" default="false"/>

  <!-- ????? -->
  <xacro:include filename="$(find rokae_description)/urdf/xMate_macro.xacro"/>

  <!-- ?? launch ??? robot_type ?????????? property -->
  <xacro:property name="robot_type_prop" value="$(arg robot_type)"/>

  <!-- ??? xMate_type??? CR7???????? -->
  <xacro:property name="xMate_type" value="xMateCR7"/>
  <xacro:if value="${robot_type_prop == 'SR4'}">
    <xacro:property name="xMate_type" value="xMateSR4"/>
  </xacro:if>
  <xacro:if value="${robot_type_prop == 'Pro3'}">
    <xacro:property name="xMate_type" value="xMatePro3"/>
  </xacro:if>
  <xacro:if value="${robot_type_prop == 'Pro7'}">
    <xacro:property name="xMate_type" value="xMatePro7"/>
  </xacro:if>
  <xacro:if value="${robot_type_prop == 'ER7'}">
    <xacro:property name="xMate_type" value="xMateER7"/>
  </xacro:if>
  <xacro:if value="${robot_type_prop == 'AR5L'}">
    <xacro:property name="xMate_type" value="AR5L"/>
  </xacro:if>
  <xacro:if value="${robot_type_prop == 'AR5R'}">
    <xacro:property name="xMate_type" value="AR5R"/>
  </xacro:if>
  <xacro:if value="${robot_type_prop == 'AR5R08'}">
    <xacro:property name="xMate_type" value="AR5R08"/>
  </xacro:if>
  <xacro:if value="${robot_type_prop == 'AR5L08'}">
    <xacro:property name="xMate_type" value="AR5L08"/>
  </xacro:if>
  <xacro:if value="${robot_type_prop == 'AR3R'}">
    <xacro:property name="xMate_type" value="AR3R"/>
  </xacro:if>
  <xacro:if value="${robot_type_prop == 'AR3L'}">
    <xacro:property name="xMate_type" value="AR3L"/>
  </xacro:if>
  <xacro:if value="${robot_type_prop == 'SR5'}">
    <xacro:property name="xMate_type" value="xMateSR5"/>
  </xacro:if>
  <xacro:if value="${robot_type_prop == 'CR12'}">
    <xacro:property name="xMate_type" value="xMateCR12"/>
  </xacro:if>
  <xacro:if value="${robot_type_prop == 'CR18'}">
    <xacro:property name="xMate_type" value="xMateCR18"/>
  </xacro:if>
  <xacro:if value="${robot_type_prop == 'CR20'}">
    <xacro:property name="xMate_type" value="xMateCR20"/>
  </xacro:if>
  <xacro:if value="${robot_type_prop == 'CR35'}">
    <xacro:property name="xMate_type" value="xMateCR35"/>
  </xacro:if>
  <xacro:if value="${robot_type_prop == 'ER3'}">
    <xacro:property name="xMate_type" value="xMateER3"/>
  </xacro:if>
  <xacro:if value="${robot_type_prop == 'SR3'}">
    <xacro:property name="xMate_type" value="xMateSR3"/>
  </xacro:if>
  <xacro:if value="${robot_type_prop == 'XB7s'}">
    <xacro:property name="xMate_type" value="xMateXB7s"/>
  </xacro:if>
  <xacro:if value="${robot_type_prop == 'XB7h'}">
    <xacro:property name="xMate_type" value="xMateXB7h"/>
  </xacro:if>
  <xacro:if value="${robot_type_prop == 'NB25s'}">
    <xacro:property name="xMate_type" value="xMateNB25s"/>
  </xacro:if>
  <xacro:if value="${robot_type_prop == 'NB25h'}">
    <xacro:property name="xMate_type" value="xMateNB25h"/>
  </xacro:if>
  <xacro:if value="${robot_type_prop == 'NB12s'}">
    <xacro:property name="xMate_type" value="xMateNB12s"/>
  </xacro:if>
  <xacro:if value="${robot_type_prop == 'NB12h'}">
    <xacro:property name="xMate_type" value="xMateNB12h"/>
  </xacro:if>
  <xacro:if value="${robot_type_prop == 'EB4'}">
    <xacro:property name="xMate_type" value="xMateEB4"/>
  </xacro:if>
  <xacro:if value="${robot_type_prop == 'NB4'}">
    <xacro:property name="xMate_type" value="xMateNB4"/>
  </xacro:if>
  <xacro:if value="${robot_type_prop == 'XB4s'}">
    <xacro:property name="xMate_type" value="xMateXB4s"/>
  </xacro:if>
  <xacro:if value="${robot_type_prop == 'XB4h'}">
    <xacro:property name="xMate_type" value="xMateXB4h"/>
  </xacro:if>


  <!-- ??????? xMate_type??????? include/??????? -->
  <xacro:rokae_robot
      xMate_type="${xMate_type}"
      robot_ip="$(arg robot_ip)"
      local_ip="$(arg local_ip)"
      use_fake_hardware="$(arg use_fake_hardware)"/>
</robot>
